::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ec4899;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #db2777;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ec4899 transparent; 
}